* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#collapsibleNavbar {
    justify-content: space-evenly;
}

#collapsibleNavbar>ul>li>a {
    margin: 0px 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.carousel-item:nth-child(3) .active #collapsibleNavbar>ul>li>a {
    color: white;
}

.navbar-dark .navbar-brand {
    color: black;
}

.user {
    display: flex;
}

.user .user-login,
.user .cart {
    cursor: pointer;
}

.user .cart {
    margin-left: 46px;
    margin-right: 34px;
}

.carousel-control-prev {
    /* color: red; */
    width: 100px;
    left: 0;
}

.carousel-control-next {
    width: 100px;
    right: 0;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}

body>nav {
    background: transparent;
}

body>nav:hover {
    background-color: white;
}

.carousel {
    position: relative;
    top: -55px;
    z-index: -1;
}

/* Text on Image */
.carousel {
    position: relative;
}

.carousel .text-container {
    position: absolute;
    top: 30%;
    left: 18%;
}

.button {
    margin-top: 35px;
}

.button a {
    text-decoration: none;
}

.buy,
.learn-more {
    width: 250px;
    height: 200px;
    padding: 10px 15px;
    border-radius: 5px;
}

.buy {
    border: 2px solid black;
}

.learn-more {
    margin-left: 40px;
}

.white {
    border: 2px solid white;
    color: white;
}

.black {
    color: black;
    border: 2px solid black;
}

.text-white {
    color: white;
}

.old-price {
    position: relative;
}

.cut {
    position: absolute;
    top: 24px;
    left: 1px;
    width: 107px;
    height: 4px;
}

.cut-color {
    background-color: black;
}

.image-box {
    width: 400px;
    height: 250px;
    text-align: center;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.series {
    width: 155px;
    height: 35px;
    /* background: red; */
    font-size: 17px;
    font-weight: 600;
    margin-left: 38px;
    margin-top: -18px;
    color: black;
}

a:hover {
    text-decoration: none;
}

#section {
    padding: 10px 20px;
}

/* Section - 2 */
.old-price1 {
    position: relative;
}

.price-cut {
    position: absolute;
    top: 20.5%;
    /* bottom: 71%; */
    left: 41%;
    width: 72px;
    height: 2px;
    background-color: black;
}

.price-detail {
    width: 100%;
    height: 180px;
    background-color: rgb(201, 201, 201);
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.price-detail h2 {
    font-size: 22px;
}

.tv-image {
    width: 100%;
    height: 63%;
}

.tv-image img {
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 900px;
}

.side-img img {
    width: 100%;
    height: 84vh;
    object-fit: cover;
}

.position {
    position: relative;
    top: -1px;
}

.zoom:hover .zoom-in-out-box {
    transform: scale(1.2);
    transition: all 1.5s;
}

.relative {
    position: relative;
}

.side-image-text {
    width: 350px;
    height: auto;
    position: absolute;
    top: 6%;
    left: 38%;
    font-size: 20px;
    text-align: center;
}

.price-cut-1 {
    position: absolute;
    bottom: 17%;
    /* bottom: 71%; */
    left: 41%;
    width: 72px;
    height: 2px;
    background-color: black;
}

.img-b img {
    width: 100%;
    height: 100%;
}

#padding {
    padding: 0px 40px;
}

.relative-1 {
    position: relative;
}

.b-img-text {
    width: 400px;
    height: 150px;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 20px;
}

.b-img-text h2 {
    font-size: 18px;
}

.b-img-text p {
    font-size: 22px;
}

.white-1 {
    color: white;
}

.img-b:hover img {
    transform: scale(1.2);
    transition: all 1.5s;
}

/* Section - 2 end here */